/ansible-builder/context/
/ansible-navigator/roles/
/ansible-navigator/collections/
vault.*
*.vault_passwordaider-env/
aider-env/bin/activate
aider_setup.sh
aider-env/
.aider*
node_modules
package-lock.json
package.json
mcp-shrimp-task-manager
shrimp-rules.md
.env
notouch.env